* {
    padding: 0;
    margin: 0;
    font-family: 'poppins';
    scroll-behavior: smooth;
}
body{
    /* background:#a4ecec; */
    background-color: #ffffff;
}

.navcontainer {
    width: 100%;
    height: 100vh;
     /* background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(background.jpeg); */
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    /* background: #7e90a0; */
    background: radial-gradient(#2688,#2688d8);
    border-radius: 0 30% 0 30%;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    margin-top:3rem;
    margin:2vmax 0 1vmax 0;
    width: 18vmax;
    animation:logo linear 1s alternate infinite;
    border:5px solid #01c3ff;


}
.logoo{
    float:right;
    margin:1vmax;
    width: 18vmax;
    margin-top:1rem;
  


}
.logoo img{
    width: 100%;
    animation:cap linear 1s alternate infinite;
}

.heading h3{
  margin-top:10px;
  color:#fff;
  padding-left:15%;
 
    
}
.row{
    display: flex;
    height:35%;
    align-items: center;
}
 .col1 img{
    width:10vmax;
    /* height:4vmax; */
}
.col1{
    flex-basis:90%;

}
.col2{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.col1 h1{
    color:#fff;
    font-size:50px;
    font-family: 'Courgette', cursive;
}
.col1 p{
    color:#fff;
    font-size: 18px;

  
}
/* button{
    width:180px;
    color:#000;
    font-size: 20px;
    padding:12px 0;
    background: #01c3ff;
    border:0;
    border-radius: 20px;
    outline:none;
    margin-top:30px;
} */
.col1 button{
/* background-color:#01c3ff; */
}
.col1 button:hover{
    background-color:#ffffff;
    }
.card{
    width:300px;
    height:300px;
    display: inline-block;
    border-radius: 0 15% 0 15%;
    padding:15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position:center;
    background-size: cover;
    transition: transform 0.5s;
    /* animation:card linear 0.5s alternate infinite; */
}
.card1{
    background-image: url('./OIP.jpeg');

}
.card1:hover{
    filter: invert(1);
    /* background: #0000003b; */
    /* border:2px solid #01c3ff; */
    border:2px solid #111111;
    color: #fff;

}
.card2:hover{
    filter: invert(1);
    /* background: #0000003b; */
    /* border:2px solid #01c3ff; */
    border:2px solid #111111;
    color: #fff;

}
.card3:hover{
    filter: invert(1);
    /* background: #0000003b; */
    /* border:2px solid #01c3ff; */
    border:2px solid #111111;
    color: #fff;

}
.card4:hover{
    filter: invert(1);
    /* background: #0000003b; */
    /* border:2px solid #01c3ff; */
    border:2px solid #111111;
    color: #fff;

}
.card2{
    background-image: url('./OIP.jpeg');
}
.card3{
    background-image: url('./OIP.jpeg');
}
.card4{
    background-image: url('./OIP.jpeg');
}
.card:hover{
    transform: translateY(-10px);
} 
h5{
    color:#0f0f0f;
    /* text-shadow:0 0 5px #999; */
    font-size: 2rem;

}
 .card p{
    color:#000;   
    margin-top:1rem;
    font-size:16px;
    font-weight: 900;
}
@keyframes logo {
    from{
        /* background: #fff; */
        border-radius: 16px;
    }
    to{
        transform: scale(0.9);
    }
    
}

@keyframes cap {
    to{
transform: scale(0.9)
    }
}


@keyframes card {
    to{
transform: scale(0.98);
    }
    
}


.landing-cards{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.ugCard{
    color: #fff;
    width: 20%;
    height: 25rem;
    background: linear-gradient(45deg, rgb(17, 120, 255), rgba(9, 255, 132, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0px 38px;
    border-image:  linear-gradient(45deg, rgb(255, 0, 0), rgba(34, 0, 255, 0.5));
    border: 2px solid ;


    
}
.ugCard h3 {
    color: rgb(13, 8, 68);
    letter-spacing: 3px;
    background: #fff;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 14px;
}
.ugCard h3{
    margin: 1vmax auto;
    font-size: 1.2vmax;
    color:  rgb(13, 8, 68);
    letter-spacing: 3px;
}
.ugCard ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ugCard ul li{
    font-size: 0.79vmax;
    font-weight: 600;
    padding: 10px;
    /* border: 2px solid rgb(255, 255, 255); */
    background: rgb(13, 8, 68);
    cursor: pointer;
    border-radius: 17px 0px;
    list-style: none;
}
.eWelcomTetx p {
    line-height: 23px;
    font-size: 17px;
    word-spacing: 3px;
}

.footerComponent{
    padding-top: 19rem;
}
